@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, "sans-serif";
}

body {
    height: 100dvh;
    background: #161A30;
    color: #F5E8C7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    background: #31304D;
    border-radius: 0 0 20px 20px;;
}

.navbar h2 {
    color: #F0ECE5;
    font-weight: 600;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    margin-right: 25px;
    color: #F0ECE5;
    font-size: 16px;
    transition: color 0.3 ease;
} .navbar ul li a:hover {
    color: #E5C3A6;
}

.hire-btn {
    border: none;
    font-size: 16px;
    padding: 6px 30px;
    background-color: #435585;
    cursor: pointer;
    border-radius: 6px;
    color: #F5E8C7;
    transition: background-color 0.5 linear;
} .hire-btn:hover {
    background-color: #2E4374;
}


.main {
    margin-top: 50px;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main h4 {
    font-size: 64px;
    font-weight: 600;
}

.main h4 span {
    text-decoration: underline;
}

.title {
    font-size: 48px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 5px;
}

.main img {
    width: 300px;
}

.guarantee {
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.guarantee .item {
    background: #2E4374;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 0 30px;
    border: 1px solid #E5C3A6;
    cursor: pointer; 
    transition: all 0.3s ease;
} .guarantee .item:hover {
    transform: scale(1.05)
}

.guarantee .item .icon {
    height: 48px;
    width: 48px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.guarantee .item .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guarantee .item .info h3 {
    font-size: 28px;   
}

.guarantee .item .info p {
    font-size: 15px; 
    font-weight: 600;
}

.guarantee .item i {
    font-size: 30px;
}

.seperator {
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background-color: #2E4374;
    display: inline-block;
    border-radius: 12px;
    font-size: 20px;
}

.about {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 80px; 
    padding: 0 50px;
}

.about .info h3 {
    font-size: 50px;
}

.about .info p {
    font-size: 20px;
}

.about .info button {
    margin-top: 20px;
    font-size: 32px;
    padding: 12px 60px;
}

.skills {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;

}

.skills .left {
    width: 680px;
}

.skills .left .info h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.skills .left .info p {
    font-size: 18px;
}

.skills .left button {
    padding: 8px 40px;
    font-size: 18px;
    margin-top: 30px;
}

.right {
    display: flex;
    gap: 40px;
}

.right .item {
    height: 100px;
    width: 100px;
    background: #435585;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
} .right .item:hover {
    transform: scale(1.2);
}

.right .item i {
    font-size: 60px;
}


