@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, "sans-serif";
}

body {
    height: 100dvh;
    background: #161A30;
    color: #F5E8C7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    background: #31304D;
    border-radius: 0 0 20px 20px;;
}

.navbar h2 {
    color: #F0ECE5;
    font-weight: 600;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    margin-right: 25px;
    color: #F0ECE5;
    font-size: 16px;
    transition: color 0.3 ease;
} .navbar ul li a:hover {
    color: #E5C3A6;
}

.hire-btn {
    border: none;
    font-size: 16px;
    padding: 6px 30px;
    background-color: #435585;
    cursor: pointer;
    border-radius: 6px;
    color: #F5E8C7;
    transition: background-color 0.5 linear;
} .hire-btn:hover {
    background-color: #2E4374;
}


.main {
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}






